/* Боди и многие другие элементы имеют стили по умолчанию */
/* Но мы можем их сбросить вот таким образом */
*, *:before, *:after {
	box-sizing: border-box;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
ol,
p,
pre,
ul {
	margin: 0;
	padding: 0;
}

/* Тут применяются шрифт на весь сайт */
html,
body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

/* Обычно у контента сайте есть максимальная ширина. Для этого часто используют такой вот класс с стилями */
.container {
	/* width: 100% - потому что я хоче чтобы контент всегда занимал всю ширену браузера */
	width: 100%;

	/* Но при этом максимальная ширена будет 1200px.
	   Это позволит зафиксировать шарану на компах,но при это на планшете и мобилке контент займет 100%, это нам и нужно
	 */
	max-width: 1160px;

	/* Эта штука делает следующее: */
	/* по оси Y(0) элемент с этим классом будет иметь 0px отступа */
	/* а по оси X(auto) конент выравнится по центру, что нам и нужно,так как контент у сайта по центру */
	margin: 0 auto;
}

.swiper {
	width: 100%;
	height: 800px;
}

.swiper-slide img {
	max-width: 100%;
}

/* Header styles */
.header{
	display: block;
	/* margin - это получается внешние отступы */
	/* В этом случаеш лучше поставить паддинг*/
	padding: 15px;
	/*padding: auto;*/
}

.header-divider {
	width: 100%;
	height: 1px;
	background-color: #eee;
	margin: 24px 0;
}

.headernav {
	display:flex;
	justify-content: space-between;
	align-items: center;
	border: 0px 0px 2px 0px solid hsla(57, 75%, 70%, 0.243);
	margin: 0px 0px 0px 0px;
}
.logoheader {
	/*margin: 30px 30px 0px 0;*/
	/*padding:0px 0px 15px 55px;*/
}

.workhours {
	text-shadow: #f3f3ec;
	/*margin-top: 50px;*/
	/*margin-left: 160px;*/
}
.callus{
	/*margin-top:50px ;*/
	/*margin-right: 50px;*/
}
.adress{
	/*margin-top: 50px;*/
	/*margin-right: 50px;*/
}
.fa-clock{
	/*margin-right:5px ;*/

}
.ulmenu {
	font-weight: 550;
	/*margin-bottom: 150px;*/
	display: flex;
	justify-content:start;
	gap: 32px;

}
.ulmenu A{
	text-decoration: none;
	color: #000;
}
.ulmenu a:hover{
	border-bottom: 1px dashed rgb(20, 20, 152);
}

.flags {
	/* Если элемент с классом .flags находится внутри flex родителя, а родитель .ulmenu имеет свойство display: flex; */
	/* то мы может только этот элемент выровнить по правой стороне контейнера с помошью margin-left: auto; */
	/* оно типа говорит что мне все равно какое там выравнивание а родителя, я хочу быть у правого края */
	margin-left: auto;

	display: flex;
	align-items: center;
}

.flag1{
	margin-left: 400px;
	height: auto;
	width: 54px;
}
.flag2{
	width: 40px;
	height: auto;
}
.fa-brands {

	color: #4c61af;
	font-weight: 600;
	margin: 15px;
}
.content {
}
/* Dropdown Button */
.abouthus {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	font-weight: 200;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .abouthus {background-color: #3e8e41;}

* {box-sizing:border-box}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1400px;

  margin-bottom: -300px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.sliderimg{
	display: flex;
	justify-content: center;
	position: center;
	width: 100px;
}
